<%- include("partials/head.ejs") %>
<div id="productos-container" class="crudForm-container">
  <h2>Editar producto</h2>
  <form id="editProduct_form">
    <label for="nameProd">Nombre producto</label>
    <input
      type="text"
      name="nameProd"
      id="nameProd"
      placeholder="Ingrese el nombre del producto"
      required
      value="<%= producto.name %>"
    />
    <label for="category">Categoria</label>
    <input
      type="text"
      name="category"
      id="category"
      placeholder="Ingrese la categoria del producto"
      required
      value="<%= producto.category %>"
    />
    <label for="price">Precio</label>
    <input
      type="number"
      name="price"
      id="price"
      placeholder="Ingrese el precio del producto"
      required
      value="<%= producto.price %>"
    />
    <label for="image">Imagen</label>
    <input
      type="text"
      name="image"
      id="image"
      placeholder="Ingrese Url de la imagen del producto"
      required
      value="<%= producto.image %>"
    />
    <input type="submit" value="Editar" />
  </form>
</div>
<script>
    const id = <%- JSON.stringify(producto.id) %>;

  let editProduct_form = document.getElementById("editProduct_form");
  let getId_lista = document.getElementById("getId-list");

  editProduct_form.addEventListener("submit", async (e) => {
    e.preventDefault();
    let nameProd = document.getElementById("nameProd").value;
    let category = document.getElementById("category").value;
    let price = document.getElementById("price").value;
    let image = document.getElementById("image").value;
    let datos = await enviarDatosProducto(nameProd, category, price, image);
  });

  async function enviarDatosProducto(name, category, price, image) {
    try {
      let respuesta = await fetch(`http://localhost:3000/api/products${id ? `/${id}` : ""}`, {
        method: "PUT",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          name: name,
          category: category,
          price: price,
          image: image,
        }),
      });
      if (!respuesta.ok) {
        throw new Error("Error al editar producto");
      }
      let datos = await respuesta.json();
      window.location.href = "/dashboard";
      return datos;
    } catch (error) {
      console.error("Error: ", error);
    }
  }
</script>
<%- include("partials/footer.ejs") %>
