<%- include("partials/head.ejs") %>
<div class="titleContainer">
  <h2 class="title">Dashboard Productos</h2>
  <div class="titleButtonsContainer">
    <a href="/dashboard/new-product">
      <button>Nuevo Producto</button>
    </a>
  </div>
</div>
<ul class="productosContainer">  
  <% products.forEach(prod => {  %>  
    <li class="cardProductos">
      <div class="cardProductosImgContainer">
        <img src="<%= prod.image %>" alt="<%= prod.name %>" class="cardProductosImg">        
      </div>
      <div class="cardProductosInfo">
        <p>
          Id: <%= prod.id %>
        </p>
        <h4>
          <%= prod.name %>
        </h4>
        <h6>
          $<%= prod.price %>
        </h6>
        <p>Estado: <span class="<%= prod.is_active ? "active" : "inactive" %>"><%= prod.is_active ? "Activo" : "Inactivo" %></span>
        </p>
        <div class="cardProductosButtons">
          <a href="/dashboard/edit-product/<%= prod.id %>">
          <button>Editar</button>
        </a>
        <% if (prod.is_active){ %>
            <button class="deleteBtn" data-id="<%= prod.id %>">Eliminar</button>
          <% } %>
          <% if (!prod.is_active){ %>
            <button class="activateBtn" data-id="<%= prod.id %>">Activar</button>
          <% } %>
        </div>
      </div>
    </li>
  <% }) %>  
</ul>
  <script type="module">
  import { handleProductStatus } from "/js/productStatusHandler.js";

    document.addEventListener('DOMContentLoaded', () => {
      handleProductStatus();
    });

  </script>
<%- include("partials/footer.ejs") %>