<%- include("partials/head.ejs") %>
  <% products.forEach(prod => {  %>  
    <li class="li-listados productos-listados">
        <img src="<%= prod.image %>" alt="">
        <p>Id: <%= prod.id %> / Nombre: <%= prod.name %> / Precio: $<%= prod.price %></p>
    </li>     
  <% }) %>
<%- include("partials/footer.ejs") %>