<%- include("partials/head.ejs") %>
  <% ventas.forEach(venta => {  %>  
    <li class="li-listados ventas-listados">
        <p>Id: <%= venta.id %> / Cliente: <%= venta.buyerName %> / Fecha: <%= venta.date %> / Total: $<%= venta.total %></p>
    </li>    
    <% }) %>
<%- include("partials/footer.ejs") %>