<%- include("partials/head.ejs") %>
<div id="pageContainer" class="ventas">
  <h2>Dashboard ventas</h2>
  <div class="ventasTitleContainer">
    <p class="ventasTitleItem">Id</p>
    <p class="ventasTitleItem">Cliente</p>
    <p class="ventasTitleItem fechaVenta">Fecha</p>
    <p class="ventasTitleItem">Total</p>
    <p class="ventasTitleItem">Acciones</p>
  </div>
  <% ventas.forEach(venta => { %>
  <li class="ventaCardContainer">
    <h5 class="ventaCardInfo"><%= venta.id %></h5>
    <h6 class="ventaCardInfo"><%= venta.buyerName %></h6>
    <h5 class="ventaCardInfo"><%= venta.date %></h5>
    <h5 class="ventaCardInfo"><%= venta.total %></h5>
    <a href="/dashboard/sales/details/<%= venta.id %>"
      ><button>Detalle</button></a>
  </li>
</div>
<% }) %> <%- include("partials/footer.ejs") %>
