<%- include("partials/head.ejs") %>
<div class="titleContainer backgroundDetalleVentas">
  <div>
    <h3 class="">Id: <%= detalleVenta.id %></h3>
    <p class="">Fecha: <%= detalleVenta.date.toLocaleDateString() %></p>
    <p class="">Cliente: <%= detalleVenta.buyerName %></p>
  </div>
  <div>
    <a href="/dashboard/sales" class="BackBoton"><button>Volver</button></a>
  </div>
</div>
<div class="detailContainer">
  <h4>Conceptos venta</h4>
  <% detalleVenta.items.forEach(item => { %>
    <div class="ventaItemContainer">
      <p class="">- <%= item.productName %></p>
      <p class=""><%= item.quantity %> un.</p>
      <p class="">$<%= item.productPrice %></p>
      <p class="">$<%= item.subtotal %></p>
    </div>
  <% }) %>
  <h4 class="totalVenta">Total: $<%= detalleVenta.total %></h4>
</div>
<%- include("partials/footer.ejs") %>
