<%- include("partials/head.ejs") %>
<div id="pageContainer" class="ventas">
  <h2>Dashboard ventas</h2>
  <div class="ventasTitleContainer">
    <p class="ventasTitleItem">ID</p>
    <p class="ventasTitleItem">Cliente</p>
    <p class="ventasTitleItem fechaVenta">Fecha</p>
    <p class="ventasTitleItem">Total</p>
    <p class="ventasTitleItem">Acciones</p>
  </div>
  <% ventas.forEach(venta => { %>
  <li class="ventaCardContainer">
    <h5 class="ventaCardInfo"><%= venta.id %></h5>
    <p class="ventaCardInfo"><%= venta.buyerName %></p>
    <p class="ventaCardInfo"><%= venta.date %></p>
    <p class="ventaCardInfo">$<%= venta.total %></p>
    <div class="ventaCardActions">
      <a class="detalleBoton" href="/dashboard/sales/details/<%= venta.id %>"
        ><button>Detalle</button></a
      >
      <button>Descargar PDF</button>
    </div>
  </li>
  <% }) %>
</div>
<%- include("partials/footer.ejs") %>
