<%- include("partials/head.ejs") %>
  <p class="li-listados ventas-listados">
    Id: <%= detalleVenta.id %> / Fecha: <%= detalleVenta.date.toLocaleDateString() %> / Cliente: <%= detalleVenta.buyerName
    %>
    <a href="/dashboard/sales"><button>Volver</button></a>
  </p>
  <p>Items venta</p>
    <% detalleVenta.items.forEach(item => { %>
      <p class="li-listados border-top">
        - <%= item.productName %> / <%= item.quantity %> un.
        / $<%= item.productPrice %> / Subtotal: $<%= item.subtotal %>
      </p>
  <% }) %>
  <p>Total: $<%= detalleVenta.total %></p>
<%- include("partials/footer.ejs") %>
